@page "/"


<div class="text-center alert alert-primary" style="padding:40px 10px;">
    <h3>
         Welcome to you in Eastaria
    </h3>

    <p>
        new concept in software development.
    </p>
</div>

<SurveyPrompt Title="learn more about " />
